<h2>頻出語(<%= @wordclass %>)</h2>
<table>
  <tr>
    <th>形態素</th>
    <th>数</th>
  </tr>
  <tbody>
    <% @noun_and_count.keys.each do |key| %>
      <tr>
        <td><%= key %></td>
        <td><%= @noun_and_count[key] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>元テキスト</p>
<%= @text %>
