<h1>頻出語(名詞)</h1>
<table>
  <tr>
    <th>形態素</th>
    <th>数</th>
  </tr>
  <tbody>
    <% @results.sort_by{|k,v| v }.reverse.each do |result| %>
      <tr>
        <td><%= result[0] %></td>
        <td><%= result[1].to_s %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>元テキスト</p>
<%= @text %>
