<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>sinatra test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/base.css">
  </head>
  <body>
    <header class="container mt-4 mb-2">
      <h1 class="header-title">頻出語抽出</h1>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
