<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>頻出語抽出</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/base.css">
    <link rel="shortcut icon" href="images/favicon.ico" >
  </head>

  <body>
    <div class="container pt-5">
      <h1 class="font-weight-bold">頻出語抽出</h1>
      <%= yield %>
    </div>

    <footer class="footer mt-5">
      <p class="footer__credit"><nobr>
        Icons made by 
        <a href="https://www.flaticon.com/authors/smashicons" title="Japan" class="footer__credit--link">Japan</a> 
        from <a href="https://www.flaticon.com/" title="Flaticon" class="footer__credit--link">www.flaticon.com</a> 
        is licensed by 
        <a href="http://creativecommons.org/licenses/by/3.0/" 
          title="Creative Commons BY 3.0" target="_blank" class="footer__credit--link">
          CC 3.0 BY
        </a>
      </nobr></p>
    </footer>
  </body>
</html>
