<!DOCTYPE html>
<html lang="ja">
  <head>
    <meata charset="urf-8">
    <title>sinatra test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "css/bootstrap.min.css" %>
  </head>
  <body>
  <div class="container">
    <h1>頻出語抽出</h1>
    <%= yield %>
  </div>
  </body>
</html>
